---
import { getLocale } from "astro-i18n-aut"
import { defaultLanguage } from "~/config"
import HomeLayout from "~/layouts/home.astro"
import { getPostsByLocale } from "~/utils"

const locale = getLocale(Astro.url)
const posts = await getPostsByLocale(locale)
const tags = [...new Set(posts.map((post: any) => post.data.tags).flat())]
---

<HomeLayout>
  <div>
    {
      tags.map((tag) => (
        <span class="mx-4">
          <a
            href={
              defaultLanguage === "zh"
                ? locale === "zh"
                  ? `/tags/${tag}`
                  : `/en/tags/${tag}`
                : locale === "en"
                  ? `/tags/${tag}`
                  : `/zh/tags/${tag}`
            }
          >
            {tag}
          </a>
        </span>
      ))
    }
  </div>
</HomeLayout>
