---
import { en, zh } from "~/config"
import { getLangFromUrl } from "~/i18n/utils"

const lang = getLangFromUrl(Astro.url)
const config = lang === "zh" ? zh.meta : en.meta
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<link rel="icon" type="image/svg+xml" href={config.favicon} />
<meta name="generator" content={Astro.generator} />
<title>{config.title} - {config.slogan}</title>
<meta name="description" content={config.description} />
