---
import "~/styles/globals.css"
import { NoiseBg } from "~/components/react/noise-bg"
import { en, zh } from "~/config"
import { getLangFromUrl } from "~/i18n/utils"

const lang = getLangFromUrl(Astro.url)
const config = lang === "zh" ? zh.meta : en.meta
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href={config.favicon} />
    <meta name="generator" content={Astro.generator} />
    <title>{config.title} - {config.slogan}</title>
    <meta name="description" content={config.description} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <script is:inline>
      // set theme before page load
      const theme = (() => {
        if (
          typeof localStorage !== "undefined" &&
          localStorage.getItem("theme")
        ) {
          return localStorage.getItem("theme")
        }
        if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
          return "dark"
        }
        return "light"
      })()

      if (theme === "dark") {
        document.documentElement.classList.add("dark")
      }
    </script>
  </head>
  <body class="dark:bg-[#121212] dark:text-white">
    <div class="flex min-h-screen w-full justify-center px-6 md:p-0">
      <slot />
      <NoiseBg />
    </div>
  </body>
</html>
